.acceptedBackgrounded {
    background:  #203546;

  }
  
  .CDRReportAcceptedHeading {
    font-size: 36px;
    font-family: Century Gothic;
    color: white;
    text-align: center;
    font-weight: 700;
  }
  .CDRReportAcceptParagraph {
    font-family: Asap;
    font-size: 20px;
    margin-top: 10px;
    color: white;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    .CDRReportAcceptedHeading {
      font-size: 18px;
    }
    .CDRReportAcceptParagraph {
      font-size: 12px;
    }
    .CDRReportAcceptParagraph > Button {
      font-size: 10px;
    }
    .CDRReportAcceptButton {
      font-size: 12px !important;
    }
  }
  