@media screen and (max-width: 600px) {
    .ourCDRServicesParagraph{
font-size: 10px !important;
    }
    .ourCDRServicesTitle{
        font-size: 12px !important;

    }
    .whatToOfferImage{
        height:140px !important;
        width:100px !important
    }
    .mobileScreenGuidelinesButton{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .structureImage{
        height:300px !important
    }
}